body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image:linear-gradient(rgba(4, 9 , 30, 0.7), rgba(4, 9 , 30, 0.7) ),url(images/eduford_img/signinbg.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
}
.sign-up-form{
    width: 300px;
    height: 60%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: linear-gradient(#29524A, #E9BCB7);
    padding: 20px;
    margin: 6% auto 2%;
    text-align: center;
    border-radius: 10px;
}
.sign-up-form h1{
    color: #0077be;
    margin-bottom: 30px;
}
.input-box{
    display: inline;
    border-radius: 20px;
    padding:10px;
    margin: 10px 0;
    width: 41%;
    border: 1px solid #999;
    outline: none;
}
.input-bc{
    display: inline;
    color: dimgray;
    border-radius: 20px;
    padding:10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}
button{

    color: #fff;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;

}
.signup-btn{
    background-color: #3e65cf;
    color: #fff;
}
.linkedin-btn{
    background-color: #0e76a8;
    color: #fff;
}
.gmail-btn{
    background: #f2a60c;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

p{
    padding-top: 5px;
    color: dimgray;

}
img{
    width: 70px;
    height: 70px;
    border-radius:50%;
    margin-top: -50px;
    background-color: #fff;

}

